<ion-header>
  <ion-toolbar hideBackButton="true" color="danger">
    <ion-title>
      PI Servers
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let server of servers" (click)="viewDatabasesPage(server)">
      {{ server.Name }}
    </button>  
  </ion-list>
</ion-content>
